# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Virtual Environments
.venv/
venv/

# Node.js
node_modules/
.next/

# Project Specific
qdrant_data/
ollama_data/
users.db
.env
.vscode/
.idea/